*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

/* Typography and shared value */
.merriweather-merriweather {
  font-family: "Merriweather", serif;
}
.inter-typography {
    font-family: "Inter", sans-serif;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header  */
header{
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
}
.banner {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/Banner\ Image.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px
}
.banner-content{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    text-align: center;
    border-radius: 50px;
}
.banner-content h3 {
    font-size: 32px;
}
.banner-content h1 {
    font-size: 72px;
}
/* header Closed */

/* off section  */
.off-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.off-text {
    margin: 0 auto;
    text-align: center;
}
.off-text h1 {
    color: #FF0000;
    font-weight: 800;
    font-size: 72px;
    margin: 120px 0 48px;
}
.off-text h3 {
    color: red;
    font-weight: 600;
    font-size: 24px;
}
.off-text h2 {
    font-weight: 800;
    font-size: 48px;
    margin: 16px 0 48px;
}
.off-section img {
    width: 500px;
    height: auto;
}
/* Off section closed  */

/* Welcome Greetings  */
.welcome-section {
    margin: 0 auto;
    width: 90%;
    margin-top: 120px;
}
.welcome-greetings {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url("../images/Vectorrr.png");
    border-radius: 20px;
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 68px 120px 68px 126px;
    gap: 40px;
}
.welcome-greetings img {
    width: 300px;
    height: auto;
}
.welcome-txt h1{
    font-size: 54px;
    margin-bottom: 24px;
}
.welcome-txt p {
    font-size: 18px;
    opacity: 80%;
    margin-bottom: 48px;
}
.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
/* Welcome section Closed  */

/* Booking  */
.booking-txt {
    margin-top: 120px;
    padding: 100px 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.booking-txt h4 {
    font-size: 30px;
    margin-bottom: 32px;
}
.booking-span {
    color: #FF0000;
}
.booking-txt button{
    background-color: #FF0000;
    border: none;
    padding: 20px;
    border-radius: 8px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.booking-txt button:hover {
    background-color: transparent;
    border: 1px solid #FF0000;
    color: #FF0000;
}
/* Booking Section Closed  */

/* New Offer  */
.upcoming-offer {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 140px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
}
.upcoming-offer h1 {
    margin: 24px 0px ;
}
.upcoming-offer p {
    color: #070211;
    opacity: 60%;
}
.circle {
    height: 450px;
    width: 450px;
    color: transparent;
    border: 10px solid #FF0000;
    border-radius: 50%;
}
.upcoming-txt img {
    width: 140px;
    height: auto;
    margin-top: 40px;
}
/* New Offer Closed  */
